@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: Montserrat;
}

.main {
    width: 610px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

.introduce {
    font-style: italic;
    color: gray;
    line-height: 1.6;
}

.header {
    text-align: right;
    margin-right: 15px;
    padding-bottom: 30px;

}

.part {
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    margin-left: 15px;
    margin-right: 15px;
}

.footer {
    text-align: center;
    color: white;
    background-color: black;
}